/*
.filter-wrapper {
  display: none;
}
*/


#block-block-22 {
  margin-bottom: -55px;
}

.big-title {
  font-size: 45px;
  margin-top: 0em;
  margin-bottom: 0em;
}

.lead {
  font-size: 15px;
}

/* fizzation */
.html {
  font-family: "DejaVu Sans", Verdana, Geneva, "Helvetica Neue", Lato, Helvetica, Arial, sans-serif !important;
  font-size: 14px !important;
  background-color: #ddd;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "DejaVu Sans", Verdana, Geneva, "Helvetica Neue", Lato, Helvetica, Arial, sans-serif !important;
  font-weight: bold;
  color: #616161;
}


* {
  box-sizing: content-box;
  -moz-boxsizing: content-box;
  -webkit-box-sizing: content-box;
}

.front .col-md-4 {
  width: 30%;
}

.front .col-md-4 > p {
  color: #808080;
  font-size: 90%;
}


/* responsive hacks */
#main {
  max-width: 960px;
  width: auto;
}
#page-wrapper {
 min-width: 300px;
}

.field-name-field-form1-image .file-icon img {
  width: inherit;
  height: auto;
}

#header div.section, #featured div.section, #messages div.section, #main, #triptych, #footer-columns {
  width: calc;
}

#footer {
  width: calc;
  min-width: auto;
  padding: 0em 1em 0em 1em;
}

.field-name-field-form1-image img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto; 
  display: block;
}


/* ? */
.one-sidebar #content {
    width: 960px !important;
}

/* Block d'aide / post-it */
#sidebar-first, #sidebar-second {
    margin-left: -285px;
}

.region-sidebar-first {
  box-shadow: -4px 6px 9px rgba(50, 50, 50, 0.5);
  width: 260px;
}


/* On donne un peu d'espace au dessus de "Ajouter un champ" dans le formulaire */
#form-builder-wrapper {
    margin-top: 40px;
}

/* block "Mis en évidence" */
#highlighted {
    font-size: 80%;
    background-color: #f6f6f2;
    padding: 1em;
}

#highlighted h2 {
    margin: 0 0 0.5em;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #fff;
    font-size: 1.5em;
    line-height: 1.2;
}

#higlighted .content {
    font-size: 0.914em;
    line-height: 1.4;
}

/* Modifications suite à l'ajout de bootstrap.css et de la framanav */
.checkbox, .radio {
  position: inherit;
  display: table-cell !important;
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
  position: inherit;
}

#framafooter > div > div {
  box-sizing: border-box !important;
  -moz-boxsizing: border-box;
  -webkit-box-sizing: border-box;
}

#admin-menu, #admin-menu .dropdown {
  z-index: 1001;
}

legend {
  font-size: inherit;
}

.user-block-connect {
  text-align: right;
  font-size: 14px;
}

.label {
padding: 0;
font-size: inherit;
font-weight: inherit;
line-height: inherit;
color: #666;
text-align: inherit;
white-space: inherit;
vertical-align: inherit;
border-radius: inherit;

}

.webform-submission-info {
  padding-top: 20px;
}

#content h2 {
  font-size: 1.6em;
}

#content h3 {
 font-size: 1.4em; 
}


/* Fin de modifs en cas de bootstrap.css /framanav */


.cke_wysiwyg_frame body, .cke_editable_themed {
  background-color: #fff !important;
}

.tabs ul.secondary {
    padding: 2.5em;
}

#footer-wrapper {
  background: inherit;
  color: #808080;
  padding: 0;
}

#footer-wrapper a:hover, #footer-wrapper a:focus, #footer-wrapper a {
  color: inherit;
}

#footer {
  margin-top: 0;
  border-color: #808080;
}

#page, #main-wrapper {
  background: #eee !important; 
}

#main {
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 30px;
      box-shadow: -4px 6px 9px rgba(50, 50, 50, 0.5);
}

.compteBtn {
  float: left;
  margin-right: 70px;
}


.field-name-field-form1-image {
    padding-top: 10px;
    margin-bottom: 16px;
   
   
}

.description {
  font-size: 0.85em;
  color: #666;
}


.form-item-form-key {
  display: none;
}

.shareLinks {

}

.shareLink {
  float: left;
  margin-right: 15px;
}

/* hiding standard webform tab */
.page-node-webform .tabs ul.secondary li:nth-child(2){
   display:none;
}

/* hiding fields keys edition */
#form-builder .field-suffix {
  display: none;
}

.form-item > .field-suffix {
  display: inline !important;
}

.webform-component-number > span:nth-child(4)

/* hidding some confusing classes */
div.form-item.form-type-checkbox.form-item-webform-private, 
div.form-item.form-type-checkbox.form-item-disabled, 
div.form-item.form-type-textfield.form-item-wrapper-classes, 
div.form-item.form-type-textfield.form-item-css-classes {
  display: none;
}

/* better looking for fieldset options when editing webform field */
#form-builder fieldset.form-builder-group {
  background-color: #fafafa;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

/* better looking for tabs when editing webforms field */
#form-builder ul.form-builder-tabs {
  background-color: #ddd;
}

/* */
#form-builder fieldset.form-builder-group .fieldset-wrapper {
  padding-top: 0px;
}

/* hiding some confusing configuration options */
fieldset#edit-role-control.collapsible.form-wrapper.collapse-processed, div.form-item.form-type-textfield.form-item-next-serial {
  display: none;
}

/* add no_password block */
#block-block-21 {
  margin-top: -30px;
  font-size: 80%;
  color: #555;
}

/* images for feature page */
#features-page img {
  max-width: 80%;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 5px rgb(136, 136, 136);
}

#features-page .no-shadow {
  box-shadow: unset !important;
  border: unset !important;
}


